<div style="background-color:{{module.color_background}}; background-image: url('{{ Image(module.background).src }}')">
	<div class="container py-6 my-12 md:my-24" id="plain_text">
		<h2 class="font-sans text-3xl font-extrabold text-neutral-900">
			{{ module.title }}
		</h2>
		<div class="pt-10 ">

			{% if module.two_columns == 'zweispaltig' %}
				<div id="tow_columns" class="max-w-full gap-8 prose md:columns-2">{{ module.text }}</div>
			{% else %}
				<div id="one_columns" class="prose">{{ module.text }}</div>
			{% endif %}


		</div>
	</div>
</div>
