<div class="container relative my-12 md:my-24" id="tex_image">

		<div class="justify-between block gap-12 md:flex ">
			<div class="{{ ( module.right_or_left == 'left') ? '' : ( module.right_or_left == 'right') ? 'order-last py-6 md:my-0 '}} w-full md:w-3/6">
				<div class="{{ ( module.right_or_left == 'right') ? 'right-0' : ''}} absolute z-0 w-20 h-20 -mt-4 -ml-4 rounded-md bg-primary-500 "></div>

				<img class="relative z-10 max-w-full rounded-md "  style="{{ ( module.right_or_left == 'right') ? 'margin-inline-start: auto;' : ''}}" src="{{ Image(module.image).src }}" alt="{{ Image(module.image).alt }}"/>
			</div>
			<div class="self-center w-full lg:pt-0 md:w-3/6 ">
				<h2 class="pb-5 mt-5 ">{{module.title }}</h2>

				<p class="text-neutral-700">{{module.text }}</p>
				{% if module.button %}
				<div class="mt-10">
					<a class="inline-flex items-center px-4 py-2 font-bold text-gray-800 bg-gray-300 rounded hover:bg-gray-400" href="{{ module.button.url}}">{{ module.button.title}}

					</a>
				</div>	
				{% endif %}
			</div>
		</div>
 
</div>
