<flynt-component name="ModulTextImage" class="py-8 md:py-12 lg:py-16">
	<div class="container">
		<div class="grid gap-8 lg:gap-14 {{ options.imagePosition in ['left', 'right'] ? 'md:grid-cols-2 items-center' : 'justify-items-center' }}">

			{% set aspectRatioValue = options.aspectRatio ?? '16:9' %}
			{% set aspectRatioClass = {
				'4:3': 'aspect-[4/3]',
				'16:9': 'aspect-video',
			}[aspectRatioValue] ?? 'aspect-video' %}

			{% if image %}
				<figure class="{{ options.imagePosition == 'right' ? 'md:order-2' : options.imagePosition == 'bottom' ? 'order-2' : '' }} {{ (options.imagePosition == 'top' or options.imagePosition == 'bottom') and options.aspectRatio != '16-9' ? 'max-w-3xl w-full' : 'w-full' }}">
					<div class="rounded-lg overflow-hidden {{ aspectRatioClass }}">
						{% if image.post_mime_type == 'image/svg+xml' %}
							<img class="w-full h-auto" src="{{ image.src }}" width="{{ image.width }}" height="{{ image.height }}" alt="{{ image.alt|e }}" loading="lazy">
						{% else %}
							<img class="w-full h-full object-cover" src="{{ image.src|resizeDynamic(768) }}" srcset="{{ image.src|resizeDynamic(640) }} 640w, {{ image.src|resizeDynamic(768) }} 768w, {{ image.src|resizeDynamic(1024) }} 1024w, {{ image.src|resizeDynamic(1366) }} 1366w" sizes="(max-width: 768px) 100vw, {{ options.imagePosition == 'left' or options.imagePosition == 'right' ? '50vw' : '100vw' }}" width="{{ image.width }}" height="{{ image.height }}" alt="{{ image.alt|e }}" loading="lazy">
						{% endif %}
					</div>
				</figure>
			{% endif %}

			<div class="flex flex-col justify-center {{ options.imagePosition == 'bottom' ? 'order-1' : '' }} {{ options.imagePosition == 'top' or options.imagePosition == 'bottom' ? 'text-center items-center' : '' }}">

				{% include "templates/_partials/headings.twig" with {
					tag: tag,
					title: title,
					description: description,
					buttons: buttons,
					textAlign: options.imagePosition == 'left' or options.imagePosition == 'right' ? 'text-start' : 'text-center',
				} %}

			</div>

		</div>
	</div>
</flynt-component>
